code1/database/*.blend
code1/database/*.blend1
code1/*.blend
.DS_Store
code1/.DS_Store
code1/blender_render/.DS_Store
code1/blender_render/__pycache__/
code1/database/.DS_Store
code1/database/assets/
code1/database/blender_prototyp/
code1/database/material/
code1/database/reflection_rendered_images/
code1/database/triangular_prism/
